<div class="relative -top-72 md:ml-auto md:mr-0 md:w-fit md:pr-24">
	<div class="mouse_scroll">
		<div class="mouse">
			<div class="wheel"></div>
		</div>
		<div>
			<span class="m_scroll_arrows unu"></span>
			<span class="m_scroll_arrows doi"></span>
			<span class="m_scroll_arrows trei"></span>
		</div>
	</div>
</div>
